arrow==0.12.1
Babel==2.5.1
libComXML==2.2.3
lxml==4.0.0
numpy==1.16.2
ooquery==0.13.0
osconf==0.1.3
pandas==0.24.2
product==0.1.1.1
psycopg2==2.7.3.1
py2exe==0.9.2.2
Python-Chart==1.39
python-dateutil==2.7.0
python-sql==0.9
pytz==2017.2
qreu==0.3.0
reportlab==3.0
six==1.11.0
